<<<<<<< HEAD
=======
/*    Fuentes */
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
@font-face {
    font-family: "Winter Soldier";
    src: url("../fonts/The\ Winter\ Soldier.otf");
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald.ttf");
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: rgb(238, 212, 193);
}

ul a {
    text-decoration: none;
    color: rgb(69, 33, 16);
}

<<<<<<< HEAD
.atxtBtnVerTrabajo {
=======
.atxtBtnVerTrabajo{
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    text-decoration: none;
    color: aliceblue;
}

<<<<<<< HEAD
.offcanvas-header {
    padding-bottom: 0;
}

.img_adicionales_padre {
    padding-top: 1px;
}

.contacto_links {
    text-decoration: none;
    color: rgb(69, 33, 16);
    font-size: 25px;
    padding: 6%;
    margin: 2%;
}

.contacto_links:hover {
    background-color: rgb(227, 172, 132);
    transform: skewX(1) skewY(1);
    border-radius: 20px;
    color: rgb(69, 33, 16);
}

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
@media screen and (min-width: 320px) {

    /* H'S */

    h1 {
        font-size: 275%;
        display: flex;
        justify-content: flex-end;
        padding: 1%;
        margin-right: 10%;
        color: rgb(69, 33, 16);
        text-align: center;
    }

    h2 {
        font-size: 40px;
        margin-left: 100px;

    }

    /* H'S */
    /* INDEX */
    .index {
        display: grid;
        max-width: auto;
        grid-template-rows: 6;
    }

    .header {
        grid-row: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

<<<<<<< HEAD
    .header__logo {
        width: 320px;
        height: 200px;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
=======
    .header__alogo {
        width: 300px;
        height: 175px;
        display: flex;
        padding: 10px;
        margin: 0;
        align-items: center;
    }

    .header__logo,
    .header__alogoimg {
        width: 300px;
        height: 175px;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        align-items: center;
    }

    ul,
    ul li {
        list-style: none;
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        padding: 10px;
        font-family: "Winter Soldier";
        font-size: 160%;
        margin-bottom: 0;
        margin-top: 0;
=======
        padding: 7px;
        font-family: "Winter Soldier";
        font-size: 160%;
        margin-bottom: 0px;
        margin-top: 5px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        align-items: center;
    }

    .f2 {
        grid-row: 2/2;
    }

    .bannerPpal1,
    .bannerPpal2,
    .bannerPpal3 {
<<<<<<< HEAD
        width: 100%;
        height: 310px;
=======
        width: 90%;
        max-height: max-content;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        border: rgb(219, 152, 104);
        border-style: outset;
        border-width: 5px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

<<<<<<< HEAD
=======
    .main__imgsbanner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    .calltoaction {
        grid-row: 3/3;
        background-color: rgb(69, 33, 16);
        display: flex;
        border-width: 7px 0px 7px 0px;
        border-color: rgb(219, 152, 104);
        border-style: double;
        justify-content: center;
        border-radius: 20px;
        padding-left: 5px;
        padding-right: 5px;
        width: 300px;
        margin: auto;

    }

    .calltoaction a {
        font-size: 30px;
        color: aliceblue;
        text-decoration: none;
    }

    /* RESEÑAS */

    .reseñas {
        grid-row: 4/4;
        display: flex;
        background-color: rgb(255, 240, 209);
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgclienta1,
    .imgclienta2 {
        width: 150px;
        max-height: max-content;
        border-style: ridge;
        color: white;
        border-width: 5px;
        border-radius: 110%;
        margin-top: 15px;
    }

    .imgclienta2 {
        margin-top: 70px;
    }

    .txtreseña1,
    .txtreseña2 {
        margin-top: 6px;
        white-space: pre-line;
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        font-style: oblique;
        margin-bottom: 30px;
    }

    .txtBtnVT1,
    .txtBtnVT2 {
        font-size: 22px;
        color: white;
        border-radius: 10px;
        border-color: rgb(69, 33, 16);
        border-width: 5px;
        border-style: solid;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(69, 33, 16);
    }

    /* INDEX */
    /* TRABAJOS REALIZADOS */
    .trabajosRealizados {
        display: flex;
        flex-direction: column;
        align-items: center;
<<<<<<< HEAD
        justify-content: center;
    }

    .ubicacionesTR,
    .ubicacionesTR2 {
=======
    }

    .ubicacionesTR {
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        font-size: 180%;
        color: rgb(69, 33, 16);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        padding-top: 10%;
    }

    .subtitulo {
<<<<<<< HEAD
        font-size: 30px;
=======
        font-size: 20px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 10%;
        margin: 0;
    }

    .titulo {
        margin: 0;
        padding: 10%;

    }

    .locacionTR {
        font-size: 18px;
    }

    .iconomaps {
        width: 10%;
        height: 10%;
    }

    .tr__imgs {
        width: 70%;
        height: auto;
        border: rgb(219, 152, 104);
        border-style: outset;
        border-width: 5px;
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tr__imgs1,
    .tr__imgs2,
    .tr__imgs3,
<<<<<<< HEAD
    .tr__imgs4,
    .tr__imgs1v2,
    .tr__imgs2v2,
    .tr__imgs3v2,
    .tr__imgs4v2 {
=======
    .tr__imgs4 {
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        display: flex;
        justify-content: center;
    }

    .tr__imgspadre {
        display: flex;
        flex-direction: column;
    }

    .descripcion {
        font-size: 20px;
        text-align: center;
    }

    .descripcionesTR {
        white-space: pre-line;
        padding-left: 10%;
        padding-right: 10%;
    }

<<<<<<< HEAD
    #img_adicionales_padre {
        display: flex;
        flex-direction: row;
        justify-content: flex-start
    }

    .img_adicionales_hijo {
        width: 200px;
        height: 100px;
        margin-left: 3%;
    }

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    /* TRABAJOS REALIZADOS */
    /* SERVICIOS ADICIONALES */

    .imgSA1,
    .imgSA2,
    .imgSA3,
    .imgSA4 {
        max-width: 80%;
        height: auto;
        border-radius: 3%;
        margin-top: 2%;
    }

    .imgSA {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* SERVICIOS ADICIONALES */
    /* PRESUPUESTO */
<<<<<<< HEAD
    /* CONTACTANOS */
    .h2contacto {
        background-color: rgb(238, 212, 193);
        padding: 1%;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 2%;
    }

    .llenaCampos {
        font-size: 30px;
        padding-bottom: 10%;
    }

    .contacto_padre {
        display: flex;
        flex-direction: column;
    }

    .iconosrrss {
        width: 40px;
        height: 40px;
        align-self: center;
    }

    .contacto_nieto1 {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .contacto_bisnieto1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto_hijo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(238, 212, 193);
=======
    .pregunta {
        margin: 0%;
        padding-bottom: 1%;
        text-align: center;
    }

    /* CONTACTANOS */

    .h2contacto {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 28px;
    }

    i {
        display: flex;
        flex-direction: row;
        font-size: 23px;
        font-style: normal;
        padding-right: 10%;
        padding-left: 10%;
        white-space: pre-line;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 7%;
    }

    .iconosrrss {
        max-width: 12%;
        margin: 0;
        padding: 0;
        padding-right: 3%;
    }

    .llenaCampos {
        font-size: 20px;
        display: flex;
        justify-content: center;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    .formularioContacto {
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        align-items: center;
    }

    .botonesFormulario {
        display: flex;
        justify-content: space-evenly;
        padding-top: 7%;
    }


=======
        background-color: cornsilk;
        border-radius: 30px;
        font-size: 20px;
        text-align: center;
        padding-bottom: 10%;
        padding-top: 7%;
    }

    input {
        padding: 3%;
    }

    .txtFormContacto {
        padding: 2%;
    }
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726

    /* CONTACTANOS */
}

@media screen and (min-width: 480px) {
    .header__alogo {
        width: 400px;
        height: 200px;
        margin: auto;
    }

    .header__logo,
    .header__alogoimg {
        width: 400px;
        height: 200px;
    }

    ul,
    ul li {
        font-size: 170%;
    }

    /* RESEÑAS */

<<<<<<< HEAD
    .bannerPpal1,
    .bannerPpal2,
    .bannerPpal3 {
        height: 410px;
    }

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    /* TRABAJOS REALIZADOS */
    .subtitulo {
        font-size: 25px;
    }

    .titulo {
        justify-content: center;
    }

    .locacionTR {
        font-size: 40px;
    }

    .descripcion {
        font-size: 30px;
    }

    .descripcionesTR {
        font-size: 20px;
    }

    /* TRABAJOS REALIZADOS */
    /* SERVICIOS ADICIONALES */
    /* SERVICIOS ADICIONALES */
    /* CONTACTANOS */
    /* CONTACTANOS */
}

@media screen and (min-width: 768px) {

    .header__alogo {
        width: 600px;
        height: 250px;
        margin: auto;
    }

    .header__logo,
    .header__alogoimg {
        width: 600px;
        height: 250px;
<<<<<<< HEAD
=======
        padding-bottom: 10px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        margin-top: 10px;
    }

    ul,
    ul li {
        font-size: 180%;
        margin-top: 10px;
    }

<<<<<<< HEAD
    .bannerPpal1,
    .bannerPpal2,
    .bannerPpal3 {
        height: 580px;
    }

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    .calltoaction {
        width: 600px;
    }

    .calltoaction a {
        font-size: 50px;
    }

    /* RESEÑAS */
    .imgclienta1,
    .imgclienta2 {
        width: 225px;
        border-width: 10px;
        margin-top: 70px;
    }

    .imgclienta2 {
        margin-top: 120px;
    }

    .txtreseña1,
    .txtreseña2 {
        font-size: 25px;
    }

    .txtBtnVT1,
    .txtBtnVT2 {
        font-size: 30px;
    }

    /* INDEX */

    /* TRABAJOS REALIZADOS */
    .subtitulo {
        font-size: 30px;
        padding-bottom: 0;
    }

    .locacionTR {
        font-size: 50px;
    }

    .iconomaps {
        width: 4%;
    }

    .descripcion {
        font-size: 35px;
    }

    .descripcionesTR {
        font-size: 20px;
        padding: 5%;
        padding-top: 0;
    }

<<<<<<< HEAD
    .ubicacionesTR,
    .ubicacionesTR2 {
=======
    .ubicacionesTR {
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        margin: 0;
        justify-content: flex-start;
        padding-left: 5%;
    }

    /* GRID TRABAJOS REALIZADOS 1 */
    .trabajosRealizados {
        display: flex;
        flex-direction: row;
        margin-right: 2%;
    }

    .trabajosRealizados2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .tr__imgs {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .tr__imgspadre {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 150px);
        gap: 4%;
        align-content: center;
        padding: 5%;
    }

    .tr__imgs1 {
        grid-row: 1 / 3;
    }

    .tr__imgs3 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    /* GRID TRABAJOS REALIZADOS 1 */
    /* GRID TRABAJOS REALIZADOS 2 */
    .tr__imgs3v2 {
        grid-row: 3;
        grid-column: 1/ 3;
    }

    .tr__imgs4v2 {
        grid-row: 1 / 3;
        grid-column: 2;
    }

    /* GRID TRABAJOS REALIZADOS 2 */
<<<<<<< HEAD

    .img_adicionales_hijo {
        width: 175px;
        height: 175px;
    }

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    /* TRABAJOS REALIZADOS */
    /* CONTACTANOS */
    i {
        font-size: 30px;
    }

    .llenaCampos {
        font-size: 40px;
    }

    .formularioContacto {
        font-size: 35px;
        padding-bottom: 5%;
    }

<<<<<<< HEAD
    .mb-3,
    .form-floating {
        width: 600px;
    }

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    /* CONTACTANOS */
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .header__alogo {
        float: left;
        width: 550px;
        height: 225px;
        flex-direction: row;
        padding-left: 0;
        margin: 0;
        padding-top: 70px;
    }

    .header__logo,
    .header__alogoimg {
        float: left;
        width: 550px;
        height: 225px;
        flex-direction: row;
        padding-left: 20px;
    }

    ul li {
        font-size: 180%;
<<<<<<< HEAD
=======
        margin: 0;
        padding: 20px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        text-align: center;
    }

    ul li a {
<<<<<<< HEAD
        color: rgb(69, 33, 16);
=======
        padding: 20px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    ul li a:hover {
        background-color: rgb(227, 172, 132);
        transform: skewX(1) skewY(1);
        border-radius: 20px;
<<<<<<< HEAD
        color: rgb(69, 33, 16);
    }

    .bannerPpal1,
    .bannerPpal2,
    .bannerPpal3 {
        height: 550px;
        object-fit: cover;
        border-style: none;
        margin-bottom: 0;
        margin-top: 10px;
=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    .header__secciones {
        align-items: flex-end;
        padding-top: 30px;
    }

    .calltoaction {
        width: 600px;
    }

    .calltoaction:hover {
        background-color: rgb(219, 152, 104);
    }

    .calltoaction a:hover {
        background-color: rgb(219, 152, 104);
        font-style: color rgb(69, 33, 16);
    }

<<<<<<< HEAD
    .txtBtnVT1:hover,
    .txtBtnVT2:hover {
        color: rgb(69, 33, 16);
        background-color: rgb(219, 152, 104);
    }

=======
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    /* RESEÑAS */

    .imgclienta1,
    .imgclienta2 {
        width: 225px;
        border-width: 10px;
        margin-top: 70px;
    }

    .imgclienta2 {
        margin-top: 120px;
    }

    .txtreseña1,
    .txtreseña2 {
        font-size: 25px;
    }

    .txtBtnVT1,
    .txtBtnVT2 {
        font-size: 30px;
    }

    /* TRABAJOS REALIZADOS */
    .subtitulo {
        font-size: 25px;
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 7%;
        margin: 0;
    }

    .titulo {
        justify-content: flex-end;
        font-size: 60px;
        padding-bottom: 2%;
    }

    .locacionTR {
        font-size: 40px;
    }

    .iconomaps {
        width: 6%;
        height: auto;
    }

<<<<<<< HEAD
    .ubicacionesTR,
    .ubicacionesTR2 {
=======
    .ubicacionesTR {
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        justify-content: flex-start;
        padding-left: 5%;
        padding-top: 1%;
        margin-bottom: 0;
    }

    .trabajosRealizados,
    .trabajosRealizados2 {
        margin-left: 10px;
        margin-right: 10px;
    }


    /* GRID TRABAJOS REALIZADOS 1 */

    .tr__imgspadre {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 150px);
        gap: 5%;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .tr__imgs1 {
        grid-row: 1 / 3;
    }

    .tr__imgs3 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    /* GRID TRABAJOS REALIZADOS 1 */
    /* GRID TRABAJOS REALIZADOS 2 */
    .tr__imgs1v2 {
        grid-column: 2;
    }

    .tr__imgs4v2 {
        grid-column: 3 / 3;
    }

    .tr__imgs3v2 {
        grid-column: 2;
        grid-row: 2;
    }

    .tr__imgs2v2 {
        grid-column: 1;
        grid-row: 1/3;
    }

    /* GRID TRABAJOS REALIZADOS 2 */
    .descripcion {
        font-size: 28px;
    }

    .descripcionesTR {
        justify-content: end;
        font-size: 18px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        padding-bottom: 0;
    }

    /* TRABAJOS REALIZADOS */
    /* SERVICIOS ADICIONALES */

    .imgSA1,
    .imgSA2,
    .imgSA3,
    .imgSA4 {
        max-width: 100%;
        align-items: center;
    }

    .imgSA {
        display: grid;
        grid-template-columns: repeat 2;
        grid-template-rows: repeat 2;
        gap: 1%;
        max-width: 800px;
        justify-items: center;
        justify-content: center;
        position: relative;
        margin: auto;
    }

    .imgSA1 {
        grid-column: 1;
        grid-row: 1;
    }

    .imgSA2 {
        grid-column: 1;
        grid-row: 2;
    }

    .imgSA3 {
        grid-column: 2;
        grid-row: 1;
    }

    .imgSA4 {
        grid-column: 2;
        grid-row: 2;
    }

    /* SERVICIOS ADICIONALES */
    /* CONTACTANOS */

<<<<<<< HEAD
    .contacto_padre {
        display: flex;
        flex-direction: row-reverse;
    }

    .contacto_hijo1 {
        width: 300px;
    }

    .contacto_hijo2{
        width: auto;
        height: auto;
    }

    .contacto_nieto1 {
        display: flex;
        flex-direction: column;
=======
    i {
        font-size: 30px;
        align-items: center;
    }

    .llenaCampos {
        font-size: 40px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    .formularioContacto {
        font-size: 35px;
        text-align: center;
        padding-bottom: 5%;
    }

    /* CONTACTANOS */
}

@media screen and (min-width: 1200px) {

    .header {
        grid-row: 1/1;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

<<<<<<< HEAD
=======
    .header__alogo {
        width: 550px;
        height: 225px;
        padding-top: 20px;
    }

>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    .headerpages {
        grid-row: 1/1;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

<<<<<<< HEAD
    .header__logo {
=======
    .header__logo,
    .header__alogoimg {
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        width: 550px;
        height: 225px;
        padding-top: 20px;
    }

    ul,
    ul li {
        flex-direction: row;
        justify-content: space-between;
        font-size: 160%;
<<<<<<< HEAD
        padding: 1%;
        padding-bottom: 1%;
=======
        padding: 3%;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        margin-right: 40px;
        margin-left: 25px;
    }

    .header__secciones {
        align-items: center;
    }

<<<<<<< HEAD
    .bannerPpal1,
    .bannerPpal2,
    .bannerPpal3 {
        border-image: stretch;
=======
    .main__imgsbanner {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .bannerPpal1,
    .bannerPpal2,
    .bannerPpal3 {
        width: 35pc;
        height: 35pc;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    .calltoaction {
        width: 600px;
    }

    .calltoaction a {
        font-size: 50px;
    }

<<<<<<< HEAD
=======
    .txtBtnVT1:hover,
    .txtBtnVT2:hover {
        color: rgb(69, 33, 16);
        background-color: rgb(219, 152, 104);
    }

>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    .reseñas {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 2%;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .txtreseña2,
    .txtreseña1 {
        width: 550px;
        text-align: center;
        margin-top: 40px;
        align-items: center;
    }

    .imgclienta1,
    .imgclienta2 {
        width: 200px;
        border-width: 10px;
        margin-top: 3%;
    }

    /* TRABAJOS REALIZADOS */
    .subtitulo {
        display: flex;
<<<<<<< HEAD
        font-size: 30px;
=======
        font-size: 28px;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        padding-right: 3%;
        padding-bottom: 0;
        justify-content: flex-end;
    }

    .titulo {
        justify-content: flex-end;
        font-size: 60px;
        padding: 3%;
    }

    .locacionTR {
<<<<<<< HEAD
        font-size: 50px;
=======
        font-size: 65px;

>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    .iconomaps {
        width: 3%;
    }

<<<<<<< HEAD
    .ubicacionesTR,
    .ubicacionesTR2 {
        justify-content: flex-start;
        padding-left: 5%;
        padding-bottom: 0;
        padding-top: 2%;
    }

    .ubicacionesTR2 {
        justify-content: end;
        padding-right: 5%;
=======
    .ubicacionesTR {
        justify-content: flex-start;
        padding-left: 5%;
        margin-top: 5%;
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    }

    /* GRID TRABAJOS REALIZADOS 1 */
    .tr__imgspadre {
        display: grid;
<<<<<<< HEAD
        grid-template-columns: repeat(3, 225px);
        grid-template-rows: repeat(2, 225px);
=======
        grid-template-columns: repeat(3, 275px);
        grid-template-rows: repeat(2, 275px);
>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
        gap: 3%;
        padding: 3%;
    }

    /* GRID TRABAJOS REALIZADOS 1 */

    .descripcion {
        font-size: 28px;
    }

    .descripcionesTR {
        justify-content: end;
        font-size: 24px;
        padding: 3%;
<<<<<<< HEAD
        padding-top: 0;
    }

    .img_adicionales_hijo {
        width: 200px;
        height: 200px;
    }

    /* TRABAJOS REALIZADOS */
    /* SERVICIOS ADICIONALES */
=======
    }


    /* TRABAJOS REALIZADOS */
    /* SERVICIOS ADICIONALES */


    .imgSA1,
    .imgSA2,
    .imgSA3,
    .imgSA4:hover {
        animation: zoom ease-in-out 10ms;
    }


>>>>>>> c40d4e9656d6cb62abcbfbb1dd049f9930b1a726
    .imgSA1,
    .imgSA2,
    .imgSA3,
    .imgSA4 {
        max-width: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .imgSA {
        display: grid;
        grid-template-columns: repeat 2;
        grid-template-rows: repeat 2;
        gap: 1%;
        max-width: 800px;
        justify-items: center;
        margin-left: 5%;
        margin-right: 0%;
    }

    .imgSA1 {
        grid-column: 1;
        grid-row: 1;
    }

    .imgSA2 {
        grid-column: 1;
        grid-row: 2;
    }

    .imgSA3 {
        grid-column: 2;
        grid-row: 1;
    }

    .imgSA4 {
        grid-column: 2;
        grid-row: 2;
    }

    /* SERVICIOS ADICIONALES */
    /* PRESUPUESTO */
    .pregunta {
        display: flex;
        justify-content: end;
        margin-right: 7%;
    }

    /* CONTACTANOS */
    i {
        font-size: 30px;
        align-items: center;
    }

    .iconosrrss {
        max-width: 5%;
    }

    .llenaCampos {
        font-size: 40px;
    }

    .formularioContacto {
        font-size: 35px;
        padding-bottom: 5%;
        padding-top: 7%;
    }

    input {
        height: 120px;
        width: 300px;
        display: flex;
        margin: auto;
    }

    /* CONTACTANOS */
}