@charset "UTF-8";
@font-face {
  font-family: "Winter Soldier";
  src: url(../fonts/The-Winter-Soldier.otf); }

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald.ttf); }

@font-face {
  font-family: "Oswald Bold";
  src: url(../fonts/Oswald-Bold.ttf); }

body {
  font-family: "Oswald"; }
  @media only screen and (max-width: 319px) {
    body {
      display: none; } }

header {
  background-color: #eed4c1; }
  header nav {
    font-family: "Winter Soldier";
    list-style: none;
    display: flex; }
  @media only screen and (min-width: 320px) {
    header nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center; }
      header nav .container-fluid {
        flex-wrap: nowrap !important;
        width: auto !important;
        padding: 0;
        margin: 0; }
      header nav .header__logo {
        width: 220px;
        height: 110px;
        padding: 0;
        margin: 0; }
    header .header2 {
      display: none; }
    header ul {
      align-items: center; }
      header ul li {
        font-family: "Winter Soldier";
        font-size: 200%;
        padding-bottom: 10%; } }
  @media only screen and (min-width: 480px) {
    header nav .header__logo {
      width: 350px;
      height: 140px; }
    header ul li {
      font-size: 210%; } }
  @media only screen and (min-width: 768px) {
    header nav .header__logo {
      width: 450px;
      height: 180px;
      margin-top: 10px; }
    header ul li {
      font-size: 230%; } }
  @media only screen and (min-width: 1024px) {
    header .navbar {
      display: none; }
    header .header2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      justify-content: start;
      padding-top: 1%; }
      header .header2 .header__logo {
        margin: 0;
        padding: 0; }
        header .header2 .header__logo a {
          width: 75%;
          height: auto; }
      header .header2 .header__secciones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center; }
      header .header2 ul {
        list-style: none;
        margin: 0 0 0 3%;
        padding: 0; }
        header .header2 ul li {
          font-size: 170%;
          padding: 0 6% 0 6%;
          text-align: center; }
          header .header2 ul li a {
            text-decoration: none;
            color: #452110; }
        header .header2 ul li:hover {
          background-color: #fff0d1;
          transform: skewX(1) skewY(1);
          border-radius: 20px; }
          header .header2 ul li:hover a {
            color: #452110; } }
  @media only screen and (min-width: 1200px) {
    header .header2 {
      gap: 4%;
      align-items: center; }
      header .header2 ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        header .header2 ul li {
          font-size: 200%;
          margin: 0 5% 0 0;
          text-align: center; }
          header .header2 ul li a {
            padding: 0 5% 0 5%; } }

main a {
  text-decoration: none;
  color: white; }

@media only screen and (min-width: 320px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    width: 100%;
    height: 310px;
    border: outset 5px #db9868;
    margin-top: 2% 0 0 0; }
  main .calltoaction {
    background: linear-gradient(to bottom, #fff0d1, white); }
    main .calltoaction a {
      background-color: #452110;
      border: double 7px #db9868;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      padding: 5px 0px 5px 0px;
      width: 300px;
      margin: auto;
      font-size: 30px; }
  main .reseñas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(to top, #fff0d1, white);
    padding: 0px 60px 20px 60px; }
    main .reseñas div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center; }
      main .reseñas div img {
        width: 150px;
        max-height: max-content;
        border: ridge 7px white;
        border-radius: 110%;
        margin-top: 70px; }
      main .reseñas div p {
        margin: 10px 0 10px 0;
        white-space: pre-line;
        font-size: 18px;
        padding: 20px 0 20px 0;
        font-style: oblique; }
      main .reseñas div span {
        font-size: 20px;
        background-color: #452110;
        padding: 12px;
        border-radius: 10px; }
        main .reseñas div span :hover {
          background-color: #db9868;
          padding: 12px;
          border-radius: 10px;
          color: #452110;
          box-shadow: 0 0 0 0.25rem #eed4c1; }
  main h1 {
    font-size: 275%;
    display: flex;
    justify-content: center;
    padding: 1%;
    color: #452110;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%; }
  main h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: #eed4c1;
    padding: 5px 10% 5px 10%;
    text-align: center;
    margin: 0; }
  main .ubicacionesTR,
  main .ubicacionesTR2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 180%;
    color: #452110;
    margin-bottom: 5%;
    padding-top: 10%; }
    main .ubicacionesTR img,
    main .ubicacionesTR2 img {
      width: 10%;
      height: 10%; }
  main .trabajosRealizados,
  main .trabajosRealizados2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; }
    main .trabajosRealizados article,
    main .trabajosRealizados2 article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 8% 15% 0 15%;
      font-size: 20px;
      text-align: justify;
      align-items: unset; }
      main .trabajosRealizados article strong,
      main .trabajosRealizados2 article strong {
        text-align: center;
        font-size: 24px;
        padding: 2%; }
      main .trabajosRealizados article button,
      main .trabajosRealizados2 article button {
        margin: 15% 0 25% 0;
        background-color: #452110;
        border: #db9868; }
      main .trabajosRealizados article button:focus,
      main .trabajosRealizados2 article button:focus {
        background-color: #452110;
        border: #db9868;
        box-shadow: 0 0 0 0.25rem #db9868; }
      main .trabajosRealizados article button:hover,
      main .trabajosRealizados2 article button:hover {
        background-color: #db9868;
        border: #db9868;
        box-shadow: 0 0 0 0.25rem #eed4c1; }
    main .trabajosRealizados div div,
    main .trabajosRealizados2 div div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center; }
      main .trabajosRealizados div div img,
      main .trabajosRealizados2 div div img {
        width: 60%;
        margin-top: 2%;
        margin-bottom: 2%;
        border: outset 5px #db9868; }
  main .subtitulo {
    font-size: 25px;
    padding: 10%;
    margin: 0; }
  main #offcanvasBottom {
    height: 50%; }
    main #offcanvasBottom div button {
      background-color: white; }
    main #offcanvasBottom #img_adicionales_padre {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 3%; }
      main #offcanvasBottom #img_adicionales_padre img {
        margin: 0;
        width: 100%;
        height: 100%; }
  main .formularioPresupuesto {
    border-radius: 20px;
    background: linear-gradient(to bottom, #eed4c1, #db9868, #eed4c1);
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 10%;
    color: #452110; }
    main .formularioPresupuesto legend {
      text-align: center;
      padding: 8% 0 8% 0; }
    main .formularioPresupuesto label {
      text-align: center; }
    main .formularioPresupuesto fieldset fieldset {
      padding: 10% 0 0 0; }
    main .formularioPresupuesto fieldset #PRbtnEnviar {
      display: flex;
      justify-content: center;
      margin-top: 10%; }
      main .formularioPresupuesto fieldset #PRbtnEnviar button {
        background-color: #fff0d1;
        border-color: #452110;
        color: #452110; }
      main .formularioPresupuesto fieldset #PRbtnEnviar :hover {
        background-color: #452110;
        border-color: #452110;
        color: #eed4c1;
        box-shadow: 0 0 0 0.25rem #db9868; }
      main .formularioPresupuesto fieldset #PRbtnEnviar :focus {
        box-shadow: 0 0 0 0.25rem #db9868; }
  main .contacto_padre .contacto_hijo1 {
    background: linear-gradient(to bottom, #fff0d1, #eed4c1); }
    main .contacto_padre .contacto_hijo1 p {
      background-color: #fff0d1;
      margin: 0%;
      text-align: center;
      padding: 0 5% 0 5%;
      color: #452110; }
    main .contacto_padre .contacto_hijo1 .contacto_nieto1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background: linear-gradient(to top, #fff0d1, #eed4c1);
      padding: 15% 0 15% 0; }
      main .contacto_padre .contacto_hijo1 .contacto_nieto1 a {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #db9868;
        border-radius: 20px;
        border-width: 10px solid;
        padding: 2%; }
        main .contacto_padre .contacto_hijo1 .contacto_nieto1 a div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          text-align: center;
          color: white; }
        main .contacto_padre .contacto_hijo1 .contacto_nieto1 a img {
          width: 50px;
          height: 50px;
          align-self: center; }
  main .contacto_hijo2 {
    background: linear-gradient(to top, #eed4c1, #fff0d1);
    align-items: none; }
    main .contacto_hijo2 strong {
      display: flex;
      justify-content: center;
      font-size: 30px;
      padding: 10% 0 15% 0; }
    main .contacto_hijo2 input {
      width: 80%;
      margin: auto; }
    main .contacto_hijo2 select {
      width: 80%;
      margin: auto; }
    main .contacto_hijo2 label {
      display: flex;
      justify-content: center; }
  main .botonesFormulario {
    display: flex;
    justify-content: center; }
    main .botonesFormulario button {
      margin: 10%; }
    main .botonesFormulario .btn.btn-secondary {
      border-color: #452110;
      color: #452110;
      background-color: white; }
    main .botonesFormulario .btn.btn-primary {
      background-color: #452110;
      border-color: #452110; } }

@media only screen and (min-width: 480px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    height: 410px; }
  main .calltoaction a {
    width: 400px;
    font-size: 40px; }
  main .reseñas p {
    font-size: 22px; }
  main .reseñas span {
    font-size: 25px; }
  main .trabajosRealizados article,
  main .trabajosRealizados2 article {
    font-size: 22px; }
    main .trabajosRealizados article strong,
    main .trabajosRealizados2 article strong {
      font-size: 25px; }
  main .formularioPresupuesto label,
  main .formularioPresupuesto legend {
    font-size: 25px; }
  main .contacto_padre .contacto_hijo1 p {
    font-size: 24px; }
  main .contacto_padre .contacto_hijo1 span {
    font-size: 24px; }
  main .contacto_padre .contacto_hijo1 img {
    width: 70px;
    height: 70px; }
  main .contacto_padre .contacto_hijo2 strong {
    font-size: 34px;
    padding-bottom: 2%; }
  main .contacto_padre .contacto_hijo2 label {
    font-size: 25px;
    margin-top: 7%; } }

@media only screen and (min-width: 768px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    height: 580px; }
  main .calltoaction a {
    width: 600px;
    font-size: 50px; }
  main .reseñas img {
    width: 225px;
    border-width: 10px;
    margin-top: 70px; }
  main .reseñas p {
    font-size: 25px; }
  main .reseñas span a {
    font-size: 30px; }
  main .ubicacionesTR,
  main .ubicacionesTR2 {
    padding: 0%; }
    main .ubicacionesTR img,
    main .ubicacionesTR2 img {
      width: 5%;
      height: auto; }
  main .trabajosRealizados div,
  main .trabajosRealizados2 div {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(2, 180px);
    gap: 5%;
    justify-content: center;
    padding: 5%; }
    main .trabajosRealizados div .tr__imgs1,
    main .trabajosRealizados div .tr__imgs4v2,
    main .trabajosRealizados2 div .tr__imgs1,
    main .trabajosRealizados2 div .tr__imgs4v2 {
      grid-row: 1 / 3; }
    main .trabajosRealizados div .tr__imgs3,
    main .trabajosRealizados div .tr__imgs2v2,
    main .trabajosRealizados2 div .tr__imgs3,
    main .trabajosRealizados2 div .tr__imgs2v2 {
      grid-column: 3 / 4;
      grid-row: 1 / 3; }
    main .trabajosRealizados div .imgSA4,
    main .trabajosRealizados2 div .imgSA4 {
      grid-column: 1 / 3;
      grid-row: 2 / 4; }
    main .trabajosRealizados div .imgSA1,
    main .trabajosRealizados2 div .imgSA1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    main .trabajosRealizados div .imgSA3,
    main .trabajosRealizados2 div .imgSA3 {
      grid-row: 1 / 3; }
    main .trabajosRealizados div div,
    main .trabajosRealizados2 div div {
      padding: 0; }
      main .trabajosRealizados div div img,
      main .trabajosRealizados2 div div img {
        width: 100%;
        height: 100%;
        padding: 0;
        object-fit: cover;
        margin: 0;
        padding: 0; }
  main .trabajosRealizados article,
  main .trabajosRealizados2 article {
    padding: 0 12% 0 12%;
    font-size: 20px;
    align-items: center; }
    main .trabajosRealizados article strong,
    main .trabajosRealizados2 article strong {
      padding-top: 5%; }
    main .trabajosRealizados article button,
    main .trabajosRealizados2 article button {
      margin: 10% 0 25% 0; }
  main #offcanvasBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3%;
    height: 50%; }
    main #offcanvasBottom div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center; }
    main #offcanvasBottom #img_adicionales_padre img {
      margin: 0;
      width: 100%;
      height: 100%; }
  main .formularioPresupuesto {
    padding: 10%;
    margin: 0;
    border-radius: 0; }
    main .formularioPresupuesto .form-control {
      width: 400px; }
    main .formularioPresupuesto fieldset fieldset {
      padding: 0; }
  main .contacto_hijo1 .contacto_nieto1 {
    padding: 3% 0 3% 0; } }

@media only screen and (min-width: 1024px) {
  main .calltoaction a {
    width: 600px;
    font-size: 50px; }
  main .calltoaction :hover {
    background-color: #db9868;
    color: black; }
  main .reseñas {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20%;
    padding: 0 10% 5% 10%;
    justify-content: space-evenly; }
    main .reseñas div {
      width: 300px;
      height: 574px; }
      main .reseñas div img {
        width: 200px;
        border-width: 10px;
        margin-top: 70px; }
      main .reseñas div p {
        font-size: 23px; }
      main .reseñas div .txtreseña2 {
        margin-bottom: 80px; }
      main .reseñas div span a {
        font-size: 25px;
        justify-items: center; }
  main .subtitulo {
    padding: 3% 7% 3% 7%; }
  main .ubicacionesTR,
  main .ubicacionesTR2 {
    margin: 2% 0 0 0; }
  main .trabajosRealizados,
  main .trabajosRealizados2 {
    flex-direction: row; }
    main .trabajosRealizados div,
    main .trabajosRealizados2 div {
      padding: 3% 8% 8% 8%; }
    main .trabajosRealizados article,
    main .trabajosRealizados2 article {
      padding: 0 9% 0 9%; }
  main .trabajosRealizados2 {
    flex-direction: row-reverse; }
  main .contacto_padre .contacto_hijo1 .contacto_nieto1 {
    padding: 5% 0 5% 0; } }

@media only screen and (min-width: 1200px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    object-fit: cover;
    width: 100%;
    height: 700px;
    margin: 0; }
  main .reseñas {
    padding: 2%;
    gap: 0;
    flex-direction: row;
    justify-content: space-evenly; }
    main .reseñas div {
      width: 600px;
      height: auto; }
      main .reseñas div img {
        float: left; }
      main .reseñas div p {
        padding-left: 3%; }
      main .reseñas div .txtreseña2 {
        margin-bottom: 10px; }
  main h1 {
    justify-content: end; }
  main .trabajosRealizados,
  main .trabajosRealizados2 {
    justify-content: space-between;
    width: 100%; }
    main .trabajosRealizados #offcanvasBottom,
    main .trabajosRealizados2 #offcanvasBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 2%; }
      main .trabajosRealizados #offcanvasBottom .offcanvas-header,
      main .trabajosRealizados2 #offcanvasBottom .offcanvas-header {
        display: flex;
        flex-direction: row; }
      main .trabajosRealizados #offcanvasBottom #img_adicionales_padre,
      main .trabajosRealizados2 #offcanvasBottom #img_adicionales_padre {
        gap: 1%;
        width: 100%; }
  main .ubicacionesTR {
    justify-content: start;
    margin-left: 4%; }
    main .ubicacionesTR img {
      width: 40px; }
  main .ubicacionesTR2 {
    justify-content: end;
    margin-right: 4%; }
    main .ubicacionesTR2 img {
      width: 40px; }
  main .formularioPresupuesto {
    margin: 0;
    border-radius: 0;
    padding: 2%; }
    main .formularioPresupuesto label {
      text-align: start;
      padding-left: 45px; }
    main .formularioPresupuesto .form-control {
      width: 90%; }
  main .contacto_padre {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 1100px; }
    main .contacto_padre div {
      width: 100%; }
    main .contacto_padre .contacto_hijo1 {
      background: linear-gradient(to bottom, #fff0d1, #fff0d1, #fff0d1, #eed4c1); }
      main .contacto_padre .contacto_hijo1 p {
        padding: 0 70px 0 70px;
        font-size: 36px;
        text-align: center;
        white-space: pre-line; }
      main .contacto_padre .contacto_hijo1 div {
        padding: 0; }
        main .contacto_padre .contacto_hijo1 div a {
          margin: 10.5% 0 11% 0;
          width: 150px;
          border: solid 5px #eed4c1; }
          main .contacto_padre .contacto_hijo1 div a :hover {
            background-color: #fff0d1;
            color: #452110; }
        main .contacto_padre .contacto_hijo1 div :hover {
          background-color: #fff0d1;
          color: #452110;
          border-color: #452110; } }

footer {
  background-color: #eed4c1;
  align-items: center; }
  @media only screen and (min-width: 320px) {
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10%; }
      footer span {
        font-size: 14px;
        width: 100px; }
      footer .siguenospadre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center; }
        footer .siguenospadre p {
          margin: 0; }
        footer .siguenospadre div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          text-align: center;
          display: flex; }
          footer .siguenospadre div a {
            margin: 50%; }
            footer .siguenospadre div a img {
              width: 40px;
              height: 40px; } }
  @media only screen and (min-width: 480px) {
    footer {
      padding: 6%; }
      footer span {
        font-size: 18px;
        width: 180px; }
      footer .siguenospadre p {
        font-size: 24px; }
      footer .siguenospadre div a {
        margin-bottom: 10px; }
        footer .siguenospadre div a img {
          width: 50px;
          height: 50px; } }
  @media only screen and (min-width: 768px) {
    footer {
      padding: 3% 12% 3% 6%; }
      footer span {
        font-size: 18px;
        width: 50%; }
      footer .siguenospadre p {
        font-size: 24px; }
      footer .siguenospadre div {
        display: flex;
        flex-direction: row;
        gap: 20%; }
        footer .siguenospadre div a {
          margin: 0; }
          footer .siguenospadre div a img {
            width: 50px;
            height: 50px; } }
  @media only screen and (min-width: 1200px) {
    footer {
      padding: 1% 3% 1% 3%;
      align-items: center; } }
