@charset "UTF-8";
@font-face {
  font-family: "Winter Soldier";
  src: url(../fonts/The-Winter-Soldier.otf); }

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald.ttf); }

@font-face {
  font-family: "Oswald Bold";
  src: url(../fonts/Oswald-Bold.ttf); }

body {
  font-family: "Oswald"; }

header {
  background-color: #eed4c1; }
  header nav {
    font-family: "Winter Soldier";
    list-style: none;
    display: flex; }
  @media only screen and (min-width: 390px) {
    header .container-fluid {
      flex-wrap: nowrap !important; }
    header .header__logo {
      width: 270px;
      height: 160px;
      padding-top: 10px;
      padding-bottom: 10px; }
    header .header2 {
      display: none; }
    header .container-fluid {
      width: auto !important; }
    header ul {
      align-items: center; }
      header ul li {
        font-family: "Winter Soldier";
        font-size: 200%;
        padding-bottom: 10%; } }
  @media only screen and (min-width: 480px) {
    header .header__logo {
      width: 400px;
      height: 170px; }
    header ul li {
      font-size: 210%; } }
  @media only screen and (min-width: 768px) {
    header .header__logo {
      width: 450px;
      height: 180px;
      margin-top: 10px; }
    header ul li {
      font-size: 230%; } }
  @media only screen and (min-width: 1024px) {
    header .navbar {
      display: none; }
    header .header2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      padding-top: 1%; }
    header .header__logo {
      margin: 0;
      padding: 0; }
      header .header__logo a {
        width: 75%;
        height: auto; }
    header .header__secciones {
      display: flex;
      flex-direction: row;
      align-items: center; }
    header ul {
      list-style: none;
      margin: 0 0 0 3%;
      padding: 0; }
      header ul li {
        font-size: 170%;
        padding: 0 6% 0 6%;
        text-align: center; }
        header ul li a {
          text-decoration: none;
          color: #452110; }
      header ul li:hover {
        background-color: #fff0d1;
        transform: skewX(1) skewY(1);
        border-radius: 20px; }
        header ul li:hover a {
          color: #452110; } }
  @media only screen and (min-width: 1200px) {
    header .header2 {
      justify-content: start;
      gap: 4%;
      align-items: center; }
    header ul {
      padding: 0; }
      header ul li {
        font-size: 200%;
        margin-left: 25%; } }

main a {
  text-decoration: none;
  color: white; }

@media only screen and (min-width: 390px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    width: 100%;
    height: 310px;
    border: outset 5px #db9868;
    margin-top: 2%;
    margin-bottom: 2%; }
  main .calltoaction {
    background: linear-gradient(to bottom, #fff0d1, white); }
    main .calltoaction a {
      background-color: #452110;
      border: double 7px #db9868;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      padding: 5px 0px 5px 0px;
      width: 300px;
      margin: auto;
      font-size: 30px; }
  main .reseñas {
    display: flex;
    background: linear-gradient(to top, #fff0d1, white);
    padding: 0px 60px 20px 60px;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    main .reseñas img {
      width: 150px;
      max-height: max-content;
      border: ridge 7px white;
      border-radius: 110%;
      margin-top: 70px; }
    main .reseñas p {
      margin: 10px 0 10px 0;
      white-space: pre-line;
      font-size: 18px;
      padding: 20px 0 20px 0;
      font-style: oblique; }
    main .reseñas span {
      font-size: 20px;
      background-color: #452110;
      padding: 12px;
      border-radius: 10px; }
  main h1 {
    font-size: 275%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    margin-right: 10%;
    color: #452110;
    text-align: center; }
  main h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: #eed4c1;
    padding: 0 10% 0 10%;
    text-align: center; }
  main .ubicacionesTR,
  main .ubicacionesTR2 {
    font-size: 180%;
    color: #452110;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding-top: 10%; }
    main .ubicacionesTR img,
    main .ubicacionesTR2 img {
      width: 10%;
      height: 10%; }
  main .trabajosRealizados,
  main .trabajosRealizados2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .trabajosRealizados article,
    main .trabajosRealizados2 article {
      padding: 8% 15% 0 15%;
      display: flex;
      flex-direction: column;
      font-size: 20px; }
      main .trabajosRealizados article strong,
      main .trabajosRealizados2 article strong {
        text-align: center;
        font-size: 24px;
        padding: 2%; }
      main .trabajosRealizados article button,
      main .trabajosRealizados2 article button {
        margin: 15% 0 25% 0; }
    main .trabajosRealizados div div,
    main .trabajosRealizados2 div div {
      display: flex;
      justify-content: center; }
      main .trabajosRealizados div div img,
      main .trabajosRealizados2 div div img {
        width: 60%;
        margin-top: 2%;
        margin-bottom: 2%;
        border: outset 5px #db9868; }
  main .subtitulo {
    font-size: 25px;
    padding: 10%;
    margin: 0; }
  main #img_adicionales_padre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    main #img_adicionales_padre img {
      width: 300px;
      height: 200px;
      margin-left: 3%; }
  main .formularioPresupuesto {
    border-radius: 20px;
    background: linear-gradient(to bottom, #db9868, #eed4c1, #db9868);
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 10%; }
    main .formularioPresupuesto legend {
      text-align: center;
      padding: 8% 0 8% 0; }
    main .formularioPresupuesto label {
      text-align: center; }
    main .formularioPresupuesto fieldset fieldset {
      padding-top: 10%; }
    main .formularioPresupuesto fieldset #PRbtnEnviar {
      display: flex;
      justify-content: center;
      margin-top: 10%; }
  main .contacto_padre {
    display: flex;
    flex-direction: column; }
    main .contacto_padre .contacto_nieto1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background: linear-gradient(to top, #fff0d1, white);
      padding: 15% 0 15% 0; }
      main .contacto_padre .contacto_nieto1 a {
        display: flex;
        justify-content: space-evenly;
        background-color: #db9868;
        border: outset 5px #db9868;
        border-radius: 20px;
        padding: 2%; }
        main .contacto_padre .contacto_nieto1 a div {
          display: flex;
          flex-direction: column;
          color: white; }
    main .contacto_padre img {
      width: 50px;
      height: 50px;
      align-self: center; }
    main .contacto_padre .contacto_hijo2 {
      background-color: #fff0d1; }
      main .contacto_padre .contacto_hijo2 strong {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding: 10% 0 15% 0; }
      main .contacto_padre .contacto_hijo2 input {
        width: 80%;
        margin: auto; }
      main .contacto_padre .contacto_hijo2 select {
        width: 80%;
        margin: auto; }
      main .contacto_padre .contacto_hijo2 label {
        display: flex;
        justify-content: center; }
  main .botonesFormulario {
    display: flex;
    justify-content: center; }
    main .botonesFormulario button {
      margin: 10%; } }

@media only screen and (min-width: 480px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    height: 410px; }
  main .calltoaction a {
    width: 400px;
    font-size: 40px; }
  main .reseñas p {
    font-size: 22px; }
  main .reseñas span {
    font-size: 25px; }
  main .trabajosRealizados article,
  main .trabajosRealizados2 article {
    font-size: 22px; }
    main .trabajosRealizados article strong,
    main .trabajosRealizados2 article strong {
      font-size: 25px; }
  main .formularioPresupuesto label,
  main .formularioPresupuesto legend {
    font-size: 25px; }
  main .contacto_padre .contacto_hijo1 span {
    font-size: 24px; }
  main .contacto_padre .contacto_hijo1 img {
    width: 70px;
    height: 70px; }
  main .contacto_padre .contacto_hijo2 strong {
    font-size: 34px;
    padding-bottom: 2%; }
  main .contacto_padre .contacto_hijo2 label {
    font-size: 25px;
    margin-top: 7%; } }

@media only screen and (min-width: 768px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    height: 580px; }
  main .calltoaction a {
    width: 600px;
    font-size: 50px; }
  main .reseñas img {
    width: 225px;
    border-width: 10px;
    margin-top: 70px; }
  main .reseñas p {
    font-size: 25px; }
  main .reseñas span a {
    font-size: 30px; }
  main .ubicacionesTR, main .ubicacionesTR2 {
    padding: 0%; }
    main .ubicacionesTR img, main .ubicacionesTR2 img {
      width: 5%;
      height: auto; }
  main .trabajosRealizados article {
    padding: 0 5% 0 5%;
    font-size: 20px; }
  main .trabajosRealizados div {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(2, 180px);
    gap: 5%;
    justify-content: center;
    padding: 5%; }
    main .trabajosRealizados div div {
      padding: 0; }
      main .trabajosRealizados div div img {
        width: 100%;
        height: 100%;
        padding: 0;
        object-fit: cover;
        margin: 0;
        padding: 0; }
    main .trabajosRealizados div .tr__imgs1 {
      grid-row: 1 / 3; }
    main .trabajosRealizados div .tr__imgs3 {
      grid-column: 3 / 4;
      grid-row: 1 / 3; } }

@media only screen and (min-width: 1024px) {
  main .calltoaction a {
    width: 600px;
    font-size: 50px; }
  main .calltoaction :hover {
    background-color: #db9868;
    color: black; }
  main .reseñas {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20%;
    padding: 0 10% 5% 10%;
    justify-content: space-evenly; }
    main .reseñas div {
      width: 300px;
      height: 574px; }
      main .reseñas div img {
        width: 200px;
        border-width: 10px;
        margin-top: 70px; }
      main .reseñas div p {
        font-size: 23px; }
      main .reseñas div .txtreseña2 {
        margin-bottom: 80px; }
      main .reseñas div span a {
        font-size: 25px;
        justify-items: center; } }

@media only screen and (min-width: 1200px) {
  main .bannerPpal1,
  main .bannerPpal2,
  main .bannerPpal3 {
    object-fit: cover;
    width: 100%;
    height: 700px;
    margin: 0; }
  main .reseñas {
    padding: 2%;
    gap: 0;
    flex-direction: row;
    justify-content: space-evenly; }
    main .reseñas div {
      width: 600px;
      height: auto; }
      main .reseñas div img {
        float: left; }
      main .reseñas div p {
        padding-left: 3%; }
      main .reseñas div .txtreseña2 {
        margin-bottom: 10px; } }

footer {
  background-color: #eed4c1; }
