$marronOscuro:rgb(69, 33, 16);
$marronMedio:rgb(219, 152, 104);
$marronClaro:rgb(238, 212, 193);
$marronClaro2:rgb(255, 240, 209);
$blanco: white;
$bordeTR: outset 5px rgb(219, 152, 104);
$bordeClientas: ridge 7px white;
$bordeSA: ridge 5px white ;
$bordeCTA: double 7px rgb(219, 152, 104);