@import "fuentes";
@import "colores";
@import "mediaqueries";
@import "mixins";

$coloresrrss:(facebook:#55acee, instagram:#E1306C, whatsapp: #25D366);

body {
    font-family: "Oswald";
}

header {
    background-color: $marronClaro;

    nav {
        font-family: "Winter Soldier";
        list-style: none;
        display: flex;
    }

    @media only screen and (min-width: $xs) {

        .container-fluid {
            flex-wrap: nowrap !important;
        }

        .header__logo {
            width: 270px;
            height: 160px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .header2 {
            display: none;
        }

        .container-fluid {
            width: auto !important;
        }

        ul {
            align-items: center;

            li {
                font-family: "Winter Soldier";
                font-size: 200%;
                padding-bottom: 10%;
            }
        }

    }

    @media only screen and (min-width: $s) {
        .header__logo {
            width: 400px;
            height: 170px;
        }

        ul {
            li {
                font-size: 210%;
            }
        }
    }

    @media only screen and (min-width: $m) {
        .header__logo {
            width: 450px;
            height: 180px;
            margin-top: 10px;
        }

        ul {
            li {
                font-size: 230%;
            }
        }

    }

    @media only screen and (min-width: $l) {

        .navbar {
            display: none;
        }

        .header2 {
            @include flexrowcentrado;
            justify-content: start;
            padding-top: 1%;
        }

        .header__logo {
            margin: 0;
            padding: 0;

            a {
                width: 75%;
                height: auto;
            }
        }

        .header__secciones {
            @include flexrowcentrado;
        }

        ul {
            list-style: none;
            margin: 0 0 0 3%;
            padding: 0;

            li {
                font-size: 170%;
                padding: 0 6% 0 6%;
                text-align: center;

                a {
                    text-decoration: none;
                    color: $marronOscuro;
                }
            }

            li:hover {
                background-color: $marronClaro2;
                transform: skewX(1) skewY(1);
                border-radius: 20px;

                a {
                    color: $marronOscuro;
                }
            }
        }

    }

    @media only screen and (min-width: $xl) {

        .header2 {
            gap: 4%;
            align-items: center;

            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                li {
                    font-size: 200%;
                    margin: 0 5% 0 0;
                    text-align: center;

                    a {
                        padding: 0 5% 0 5%;
                    }
                }
            }
        }
    }
}

main {

    a {
        text-decoration: none;
        color: $blanco;
    }

    @media only screen and (min-width: $xs) {

        .bannerPpal1,
        .bannerPpal2,
        .bannerPpal3 {
            width: 100%;
            height: 310px;
            border: $bordeTR;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .calltoaction {
            background: linear-gradient(to bottom, $marronClaro2, white);

            a {
                background-color: $marronOscuro;
                border: $bordeCTA;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                padding: 5px 0px 5px 0px;
                width: 300px;
                margin: auto;
                font-size: 30px
            }
        }

        .reseñas {
            @include flexcolumncentrado;
            background: linear-gradient(to top, $marronClaro2, white);
            padding: 0px 60px 20px 60px;

            div {
                @include flexcolumncentrado;

                img {
                    width: 150px;
                    max-height: max-content;
                    border: $bordeClientas;
                    border-radius: 110%;
                    margin-top: 70px;
                }

                p {
                    margin: 10px 0 10px 0;
                    white-space: pre-line;
                    font-size: 18px;
                    padding: 20px 0 20px 0;
                    font-style: oblique;
                }

                span {
                    font-size: 20px;
                    background-color: $marronOscuro;
                    padding: 12px;
                    border-radius: 10px;
                }

            }

        }

        h1 {
            font-size: 275%;
            @include flexjuscenter;
            padding: 1%;
            color: $marronOscuro;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
        }

        h2 {
            font-size: 40px;
            @include flexjuscenter;
            background-color: $marronClaro;
            padding: 0 10% 0 10%;
            text-align: center;
        }

        //Trabajos realizados//
        .ubicacionesTR,
        .ubicacionesTR2 {
            @include flexrowcentrado;
            font-size: 180%;
            color: $marronOscuro;
            margin-bottom: 5%;
            padding-top: 10%;

            img {
                width: 10%;
                height: 10%;
            }
        }

        .trabajosRealizados,
        .trabajosRealizados2 {
            @include flexcolumncentrado;

            article {
                @include flexcolumncentrado;
                padding: 8% 15% 0 15%;
                font-size: 20px;
                text-align: justify;

                strong {
                    text-align: center;
                    font-size: 24px;
                    padding: 2%;
                }

                button {
                    margin: 15% 0 25% 0;
                }
            }

            div {
                div {
                    @include flexrowcentrado;

                    img {
                        width: 60%;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        border: $bordeTR;
                    }
                }
            }
        }

        .subtitulo {
            font-size: 25px;
            padding: 10%;
            margin: 0;
        }

        #img_adicionales_padre {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            img {
                width: 300px;
                height: 200px;
                margin-left: 3%;
            }
        }

        .formularioPresupuesto {
            border-radius: 20px;
            background: linear-gradient(to bottom, $marronMedio, $marronClaro, $marronMedio);
            margin-bottom: 10%;
            margin-top: 10%;
            padding: 10%;

            legend {
                text-align: center;
                padding: 8% 0 8% 0;
            }

            label {
                text-align: center;
            }

            fieldset {

                fieldset {
                    padding-top: 10%;
                }

                #PRbtnEnviar {
                    @include flexjuscenter;
                    margin-top: 10%;
                }
            }
        }

        .contacto_padre {

            .contacto_nieto1 {
                @include flexrowevenly;
                background: linear-gradient(to top, $marronClaro2, white);
                padding: 15% 0 15% 0;

                a {
                    @include flexrowevenly;
                    background-color: $marronMedio;
                    border-radius: 20px;
                    border-width: 10px solid;
                    padding: 2%;

                    div {
                        @include flexcolumncentrado;
                        color: $blanco;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        align-self: center;
                    }
                }
            }

        }

        .contacto_hijo2 {
            background-color: $marronClaro2;
            align-items: none;

            strong {
                @include flexjuscenter;
                font-size: 30px;
                padding: 10% 0 15% 0;
            }

            input {
                width: 80%;
                margin: auto;
            }

            select {
                width: 80%;
                margin: auto;
            }

            label {
                @include flexjuscenter;
            }
        }


        .botonesFormulario {
            @include flexjuscenter;

            button {
                margin: 10%;
            }
        }
    }

    @media only screen and (min-width: $s) {

        .bannerPpal1,
        .bannerPpal2,
        .bannerPpal3 {
            height: 410px;
        }

        .calltoaction {
            a {
                width: 400px;
                font-size: 40px
            }
        }

        .reseñas {
            p {
                font-size: 22px;
            }

            span {
                font-size: 25px;
            }
        }

        .trabajosRealizados,
        .trabajosRealizados2 {
            article {
                font-size: 22px;

                strong {
                    font-size: 25px;
                }
            }
        }

        .formularioPresupuesto {

            label,
            legend {
                font-size: 25px;
            }
        }

        .contacto_padre {
            .contacto_hijo1 {
                span {
                    font-size: 24px;
                }

                img {
                    width: 70px;
                    height: 70px;
                }
            }

            .contacto_hijo2 {
                strong {
                    font-size: 34px;
                    padding-bottom: 2%;
                }

                label {
                    font-size: 25px;
                    margin-top: 7%;
                }
            }
        }
    }

    @media only screen and (min-width: $m) {

        .bannerPpal1,
        .bannerPpal2,
        .bannerPpal3 {
            height: 580px;
        }

        .calltoaction {
            a {
                width: 600px;
                font-size: 50px
            }
        }

        .reseñas {
            img {
                width: 225px;
                border-width: 10px;
                margin-top: 70px;
            }

            p {
                font-size: 25px;
            }

            span {
                a {
                    font-size: 30px;
                }
            }
        }

        .ubicacionesTR,
        .ubicacionesTR2 {
            padding: 0%;

            img {
                width: 5%;
                height: auto;
            }
        }

        .trabajosRealizados,
        .trabajosRealizados2 {

            div {
                display: grid;
                grid-template-columns: repeat(3, 180px);
                grid-template-rows: repeat(2, 180px);
                gap: 5%;
                justify-content: center;
                padding: 5%;

                .tr__imgs1,
                .tr__imgs4v2 {
                    grid-row: 1 / 3;
                }

                .tr__imgs3,
                .tr__imgs2v2 {
                    grid-column: 3 / 4;
                    grid-row: 1 / 3;
                }

                .imgSA4 {
                    grid-column: 1 / 3;
                    grid-row: 2 / 4;
                }

                .imgSA1 {
                    grid-column: 1 / 3;
                    grid-row: 1 / 2;
                }

                .imgSA3 {
                    grid-row: 1 / 3;
                }

                div {
                    padding: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        object-fit: cover;
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            article {
                padding: 0 5% 0 5%;
                font-size: 20px;

                strong {
                    padding-top: 5%;
                }

                button {
                    margin: 15% 0 10% 0;
                }
            }
        }

        .formularioPresupuesto {
            padding: 2% 2% 2% 20%;

            .form-control {
                width: 400px;
            }
        }
    }

    @media only screen and (min-width: $l) {

        .calltoaction {
            a {
                width: 600px;
                font-size: 50px
            }

            :hover {
                background-color: $marronMedio;
                color: black;
            }
        }

        .reseñas {
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 20%;
            padding: 0 10% 5% 10%;
            justify-content: space-evenly;

            div {

                width: 300px;
                height: 574px;

                img {
                    width: 200px;
                    border-width: 10px;
                    margin-top: 70px;
                }

                p {
                    font-size: 23px;
                }

                .txtreseña2 {
                    margin-bottom: 80px;
                }

                span {
                    a {
                        font-size: 25px;
                        justify-items: center;
                    }
                }
            }
        }

        .subtitulo {
            padding: 3%;
        }

        .ubicacionesTR,
        .ubicacionesTR2 {
            margin-top: 5%;
        }

        .trabajosRealizados,
        .trabajosRealizados2 {
            flex-direction: row;

            div {
                padding: 0 5% 5% 5%;
            }
        }

        .trabajosRealizados2 {
            flex-direction: row-reverse;
        }

    }

    @media only screen and (min-width: $xl) {

        .bannerPpal1,
        .bannerPpal2,
        .bannerPpal3 {
            object-fit: cover;
            width: 100%;
            height: 700px;
            margin: 0;
        }

        .reseñas {
            padding: 2%;
            gap: 0;
            flex-direction: row;
            justify-content: space-evenly;

            div {
                width: 600px;
                height: auto;

                img {
                    float: left;
                }

                p {
                    padding-left: 3%;
                }

                .txtreseña2 {
                    margin-bottom: 10px;
                }
            }
        }

        h1 {
            justify-content: end;
        }

        .trabajosRealizados,
        .trabajosRealizados2 {
            justify-content: space-between;
            width: 100%;
        }

        .ubicacionesTR {
            justify-content: start;
            margin-left: 4%;

            img {
                width: 40px;
            }
        }

        .ubicacionesTR2 {
            justify-content: end;
            margin-right: 4%;

            img {
                width: 40px;
            }
        }

        .contacto_padre {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;

            div {
                width: 100%;
            }

            .contacto_hijo1 {
                div {
                    padding: 0;
                    @include flexcolumncentrado;
                    justify-content: space-between;
                    
                    a{
                        width: 150px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $marronClaro;
}